<%- include('partials/header'); -%>
<% if(currentUser && currentUser.schedule.length > 0){ %>
<div class="container">
    <h1>Today's Schedule</h1>
    <table class="table">
        <thead>
            <th scope="col">Class Name</th>
            <th scope="col">Time</th>
            <th scope="col">Building</th>
        </thead>
        <tbody>
            <% currentUser.schedule.forEach(function(course){ %>
            <% if(course.days.includes(new Date().getDay())){ %>
            <tr>
                <td scope="row"><%= course.name %></td>
                <td><%= course.startTime %> - <%= course.endTime %></td>
                <td><%= course.location %></td>
            </tr>
            <% }}) %>
        </tbody>
    </table>
    <a class="btn btn-warning" href="/schedule">Edit Schedule</a>
</div>
<% } else { %>
<style>
    body {
        background-image: url(./public/images/background.jpg);
        background-size: cover;
        text-align: center;
    }
</style>
<div class="mt-4 p-5 text-white rounded" style="background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5))">
    <h1>Welcome to CWRU SNS!</h1>
    </br>
    <h3>Get started by logging in and adding a schedule</h3>
    </br>
    <a class="btn btn-primary" href="/schedule">Click Here</a>
</div>
<% } %>
<%- include ('partials/footer'); -%>