<%- include('partials/header'); -%>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<script src="/scripts/map.js"></script>
<%
var todayDate = new Date().getDay();
function compTime(time) {
    var a = time.split(':');
    var seconds = (+a[0]) * 60 * 60 + (+a[1]) * 60;
    var date = new Date();
    var dateTime = date.getHours() * 60 * 60 + date.getMinutes() * 60 + date.getSeconds();
    return seconds > dateTime;
}
if (typeof location != "undefined") { %>
<script defer>
    window.onload = function () {
        route("<%= location.lat %>", "<%= location.long %>", "<%= location.images[0] %>", "<%= location.name %>");
    };
</script>
<% } %>
<div class="container row">
    <div class="col-2">
        <form action="/map" method="POST">
            <div class="form-group">
                <label class="form-label" for="destination">
                    <h4>Location:</h4>
                </label>
                <select class="form-control" v-model="section" name="destination">
                    <% locations.forEach(function(location){ %>
                    <option value="<%= location.name %>"><%= location.name %></option>
                    <% }) %>
                </select>
            </div>
            </br>
            <button class="btn btn-primary">Route</button>
        </form>
    </div>
    <div id="map" class="col-7"></div>
    <div class="col-3" id="schedule">
        <% if(currentUser && currentUser.schedule.length > 0) { %>
        <% if(day == todayDate){ %>
        <h3>Today's Remaining Classes</h3>
        <div class="container">
            <a class="btn btn-info" href="/map/day/<%= Number(day) + 1 %>">View Tomorrow's Classes</a>
        </div>
        <% } else { %>
        <h3>Tomorrow's Classes</h3>
        <div class="container">
            <a class="btn btn-info" href="/map/day/<%= Number(day) - 1 %>">View Today's Classes</a>
        </div>
        </br>
        <% } %>

        <% currentUser.schedule.forEach(function(course){ %>
        <% if(course.days.includes(day)){ 
            if((day == todayDate && compTime(course.startTime)) || (day != todayDate)){
                var building = locations.find(({ name }) => name === course.location) %>
        <div class="row">
            <h6><%= course.name %> - <%= course.location %></h6>
            <h6><%= course.startTime %> - <%= course.endTime %></h6>
            <button class="btn btn-primary"
                onclick="route('<%= building.lat %>', '<%= building.long %>', '<%= building.images[0] %>', '<%= building.name %>')">Directions</a>
        </div>
        </br>
        <% }}})} else { %>
        <div class="d-flex">
            <h4>Please login to view directions to your classes.</h4>
        </div>
        <a class="btn btn-primary btm-sm" href="login">Login</a>

        <% } %>
        <div id="route"></div>
    </div>
</div>

<%- include ('partials/footer'); -%>