<%- include('partials/header'); -%>
<div class="container">
    <div class="mt-4 p-5 text-white rounded" style="background: #0a304e">
        <% if(!(currentUser)){ %>
        <div class="d-flex justify-content-center">
            <h3>Login and create a schedule to get personal recomendations!</h3>
        </div>
        </br>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" href="/login">Login</a>
        </div>
        </br>
        <div class="d-flex justify-content-center">
            <h3>General Recomendations</h3>
        </div>
        <% } else if(currentUser && !(currentUser.schedule.length > 0)){ %>
        <div class="d-flex justify-content-center">
            <h3>Create a schedule to get personal recomendations!</h3>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" href="/schedule">Create Schedule</a>
        </div>
        </br>
        <div class="d-flex justify-content-center">
            <h3>General Recomendations</h3>
        </div>
        <% } else if(typeof nextClass == "undefined"){ %>
        <h3>You have no more classes today!</h3>
        <% } else { %>
        <h3>Your next class is <%= nextClass.name %> at <%= nextClass.location %> in <%= Math.round(time/60) %> minutes.
        </h3>
        <% } %>
    </div>
    </br>
    <h1>Food</h1>
    <div class="row">
        <% food.forEach(function(location){ %>
        <div class="col-3">
            <h5><%= location.name %></h5>
            <img class="img-recc img-fluid img-thumbnail" src="images/buildingpics/<%= location.images[0] %>">
            <a class="btn btn-primary" href="/map/location/<%= location.id %>">Get Directions</a>
        </div>
        <% }) %>
    </div>

    </br></br>
    <h1>Study</h1>
    <div class="row">
        <% study.forEach(function(location){ %>
        <div class="col-3">
            <h5><%= location.name %></h5>
            <img class="img-recc img-fluid img-thumbnail" src="images/buildingpics/<%= location.images[0] %>">
            <a class="btn btn-primary" href="/map/location/<%= location.id %>">Get Directions</a>
        </div>
        <% }) %>
    </div>

    </br></br>
    <h1>Leisure and Recreation</h1>
    <div class="row">
        <% leisure.forEach(function(location){ %>
        <div class="col-3">
            <h5><%= location.name %></h5>
            <img class="img-recc img-fluid img-thumbnail" src="images/buildingpics/<%= location.images[0] %>">
            <a class="btn btn-primary" href="/map/location/<%= location.id %>">Get Directions</a>
        </div>
        <% }) %>
    </div>
</div>
<%- include ('partials/footer'); -%>