<%- include('partials/header') -%>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<% if(currentUser && currentUser.schedule.length > 0) {%>
<div class="container">
    <table class="table">
        <thead>
            <th scope="col">Class Name</th>
            <th scope="col">Time</th>
            <th scope="col">Building</th>
            <th scope="col">Days</th>
        </thead>
        <tbody>
            <% currentUser.schedule.forEach(function(course){ %>
            <tr>
                <td scope="row" name="name"><%= course.name %></td>
                <td><%= course.startTime %> - <%= course.endTime %></td>
                <td><%= course.location %></td>
                <td> <% course.days.forEach(function(day){ %>
                    <%= day %>,
                    <% }); %></td>
                <td>
                    <form action="/schedule/<%= course._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">X</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
</br>
<% } %>
<div class="container">
    <form id="scheduleForm" action="/schedule" method="POST">
        <div class="form-list">
            <div class="form-row row">
                <div class="col-md-2 form-group label-floating">
                    <label class="control-label">Class Name</label>
                    <input type="text" class="form-control" v-model="act" name="name">
                </div>
                <div class="col-md-2 form-group label-floating">
                    <label class="control-label">Start Time</label>
                    <input type="time" class="form-control" v-model="section" name="start">
                </div>
                <div class="col-md-2 form-group label-floating">
                    <label class="control-label">End Time</label>
                    <input type="time" class="form-control" v-model="section" name="end">
                </div>
                <div class="col-md-2 form-group label-floating">
                    <label class="control-label">Building</label>
                    <select class="form-control" v-model="section" name="location">
                        <option value="Agnar Pyte Center">Agnar Pyte Center</option>
                        <option value="Bingham">Bingham</option>
                        <option value="Glennan">Glennan</option>
                        <option value="Kent Hale Smith">Kent Hale Smith</option>
                        <option value="Nord">Nord</option>
                        <option value="Olin">Olin</option>
                        <option value="Rockefeller">Rockefeller</option>
                        <option value="Millis Schmidt">Millis Schmidt</option>
                        <option value="A. W. Smith">A. W. Smith</option>
                        <option value="Strosacker">Strosacker</option>
                        <option value="White">White</option>
                        <option value="Wickenden">Wickenden</option>
                        <option value="Yost">Yost</option>
                    </select>
                </div>
                <div class="col-md-2 form-group label-floating">
                    <label class="control-label">Weekdays</label>
                    <select class="form-control" v-model="section" name="day" id="select" multiple>
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                    </select>
                </div>
            </div>
        </div>
        <button>Submit</button>
    </form>
</div>
<%- include('partials/footer') -%>